html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
html{
	font-family: 'Antic Didone', serif;
	color:white;
}



.Main {
	height:100%;
	width:100%;
	background-position: 10% 19%;
	position:fixed;

	background-image:url('/Users/aldenaik/Desktop/142.jpg');
	background-size:110%;
	background-size:1600px;
	background-repeat: no-repeat;


}
.Bar {
	float:left;
	height:auto;
    margin-left:5%;
    width: 28%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index:1;
    position: relative;
    
}

h1 {
	margin-top:85%;
	margin-left:12%;
	font-size:3em;
	width:90%;
}

header{
	margin-left: 15%;
	font-size:1.5em;
	margin-top:5%;
	margin-bottom: 5% 
}


.contact{
	display:inline-block;
	padding:3%;
	margin-left: 0;
	margin-top: 2%;
	text-decoration:none;
	color:white;
	background-color: rgba(0, 0, 0, 0.45);
	font-size:1em;
}
.contact:hover{
	display:inline-block;
	padding:3%;
	margin-left: 0%;
	margin-top: 2%;
	text-decoration:none;
	color:white;
	background-color:gray;	
	font-size:1em;	

}


.Intro{
	padding-top:5%;
	width:90%;
	text-align: center;
	padding-left:5%;
	font-size:1em;

}



p{
	padding-top:15%;
	width:90%;
	text-align: center;
	padding-left:5%;
}





@media screen and (max-width:980px) {

.Main {
	background-position: 20% 19%;
	background-size:1200px;
}

h1 {
	font-size:2.2em;
}

header{
	font-size:1.2em;

}
.Intro{
	font-size:.9em;
}

.email{
	font-size: 1em;
}

p{
	font-size: .9em;
}

}

@media screen and (max-width:640px) {

.Main {
	background-position: 34% 19%;
	background-size:800px;
}

h1 {
	font-size:1.5em;
}

header{
	font-size:.8em;
}

.Intro{
	font-size:.5em;
}

.email{
	font-size: .6em;
}

p{
	font-size: .5em;
}

}
